* {
    background-color: purple;
    color: yellowgreen;
}

.header {
    color: black;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.one,
.two,
.three {
    font-family: "Courier New", monospace;
}

.ingredient {
    color: white
}

.ingredient.optional {
    font-family: "Brush Script MT", cursive;
}

img {
    height: auto;
    width: 200px;
}